---
import ProjectCard from "./ProjectCard.astro";
import {projects} from "../data/data.json"
import ProjectsButton from "./ProjectsButton.astro";
---

<section class="projects">
    <div class="projects__container">
        <h2>Proyectos</h2>
        {projects.map((pro) => (
            <ProjectCard
                title={pro.title}
                description={pro.description}
                stack={pro.stack}
                href={pro.href}
            ></ProjectCard>
        ))}
        <ProjectsButton></ProjectsButton>
    </div>
</section>

<style>
.projects {
    padding: 1rem;
    background-color: var(--light-beige);
}

.projects__container {
    width: 100%;
    max-width: 690px;
    margin: auto;
}

.projects__container h2 {
    font-weight: 100;
    font-size: 2rem;
    color: var(--dark-charcoal);
}
</style>
