---
import {projects} from '../../../data/data-home.json';
import HomeButton from '../components/HomeButton.astro';
import HomeCard from '../components/HomeCard.astro';
---

<section class="projects">
	<div class="projects__container">
		<h2>Proyectos</h2>
		<div class="card__container">
		{projects.map((pro) => (
				<HomeCard
				title={pro.title}
				description={pro.description}
				stack={pro.stack}
				href={pro.href}
			></HomeCard>
		))}
		</div>
		<HomeButton></HomeButton>
	</div>
</section>

<style>
.projects {
	padding: 0 1rem 2rem;
	background-color: var(--light-beige);
}

.projects__container {
	width: 100%;
	max-width: 640px;
	margin: auto;
}

.projects__container h2 {
	font-size: 1.8rem;
}

.card__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: .7rem;
}

</style>
