---
import {projects} from '../../../data/data.json';
import ProjectsButton from '../components/ProjectsButton.astro';
import ProjectsCard from '../components/ProjectsCard.astro';
---

<section class="projects">
	<div class="projects__container">
		<h2>Proyectos</h2>
		{projects.map((pro) => (
			<ProjectsCard
				title={pro.title}
				description={pro.description}
				stack={pro.stack}
				href={pro.href}
			></ProjectsCard>
		))}
		<ProjectsButton></ProjectsButton>
	</div>
</section>

<style>
.projects {
	padding: 0 1rem 2rem;
	background-color: var(--light-beige);
}

.projects__container {
	width: 100%;
	max-width: 640px;
	margin: auto;
}

.projects__container h2 {
	font-size: 1.8rem;
}
</style>
